{% load staticfiles %}
<section class="fornecedores">
    <h1>Fornecedores</h1>
    <div class="items">
        <ul>
            {% for provider in providers %}
                <li>
                    <div class="item">
    
                        <div class="head">{{ content.name }} </div>
                      <!--   
                        {% if provider.photo %}
                            <div class="content" style="background:url('../media/{{provider.photo}}') no-repeat center center #fff;background-size: cover;">
                        {% else %}
                            <div class="content">
                        {% endif %}
                            <div class="info">
                                <div class="name">{{ provider.name }}</div>
                                <div class="place">{{ provider.city }} - {{ provider.state }}</div>
                            </div>
                            <div class="foot">
                                <div class="tel">Tel: {{ provider.phone }}</div>
                                {% if provider.site %}
                                    <a target="_BLANK" href="{{ provider.site }}">Site</a>
                                {% endif %}
                                
                                {% if provider.facebook %}
                                    <a target="_BLANK" href="{{ provider.facebook }}">Facebook</a>
                                {% endif %}
                                
                                {% if provider.instagram %}
                                    <a target="_BLANK" href="{{ provider.instagram }}">Instagram</a>
                                {% endif %}
                                
                                {% if provider.pinterest %}
                                    <a target="_BLANK" href="{{ provider.pinterest }}">Pinterest</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </li>
            {% empty %}   
                <h2> Nenhum fornecedor cadastrado</h2>
            {% endfor %}
            
        </ul>
    </div>
    <a href="{% url 'providers:list_providers' %}" class="button">Veja mais</a> -->
</section>
