{% load staticfiles %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="{% static '/css/lib/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static '/css/lib/jquery.mCustomScrollbar.min.css' %}">
<link rel="stylesheet" href="{% static '/css/lib/owl.carousel.css' %}">
<link rel="stylesheet" href="{% static '/css/lib/owl.theme.css' %}">
<link rel="stylesheet" href="{% static '/css/styles.css' %}">
<link rel="stylesheet" href="{% static '/css/themes/theme1/themestyle.css' %}">
